/*.header-reco{*/
/*    width:10px;*/
/*    right: 0;*/
/*    background-color: #f8f9fa;*/
/*    padding: 8px;*/
/*    border-radius: 8px;*/
/*    margin-left: 16px;*/
/*    min-width: 100px;*/
/*    text-align: center;*/
/*}*/

/*.card{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid gray;*/
/*    gap: 10px;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 10px;*/
/*    padding: 3px;*/
/*}*/
/*.card-principal{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/

/*}*/

/*.card-img{*/
/*    width: 300px;*/
/*    border-radius: 10px;*/
/*}*/
/*.card-title{*/
/*    font-size: 20px;*/
/*    font-family: "Berlin Sans FB", serif;*/
/*}*/
/*.card-distance {*/
/*    text-align: right;*/
/*    margin-left: auto; !* Permet de pousser l'élément tout à droite *!*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    border: 1px solid gray;*/
/*    border-radius: 10px;*/
/*}*/

/*.card-body{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.card-test{*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*}*/



.card{
    display: flex;
    flex-direction: column;
    background-color: #462a27;
    border: 2px solid #F58D47;
    border-radius: 15px;
    width: 350px;
    height: 160px;
    padding: 3px;


}

.card-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.card-img{
    min-width: 20%;
}

.card-comment{
    width: 210px;
    align-items: center;
    color: white;
    font-family: "Geologica", sans-serif;
    font-weight:200;

}

.card-distance {
    margin-top: 3px;
    text-align: right;
    margin-left: auto; /* Permet de pousser l'élément tout à droite */
    width: 100px;
    height: 50px;
    border-left: 1px solid #F58D47;
    border-bottom: 1px solid #F58D47;
    border-radius: 10px;
    font-family: "Paytone One", sans-serif;
    font-weight:200;
    font-size: 13px;
}
.card-type{
    font-family: "Geologica", sans-serif;

}


.card-footer{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    gap: 10px
}
.like{

    border-radius: 10px;
    width: 50px;
    background-color: #4E2D2A;
}

.go-map{
   background-color: #F58D47;
    width: 10px;
    height: 20px;
    border-radius: 15px;
}

