.search-bar {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #4E2D2A;
    border: 1px solid #F2D8AC;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    width: 100%;
    height: 20px;
}

.search-bar:focus {
    border-color:#F2D8AC; /* Couleur de surbrillance */
    outline: none;
}
