.form{
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    height: 100vh;               /* Prend toute la hauteur de l'écran */
}

.input{
    width: 500px;
}

.field{
    margin-bottom: 20px;
}

.activeButton {
    background-color: #4caf50; 
    color: white; 
    cursor: pointer; 
    border: none; 
    transition: background-color 0.3s ease; /* Animation de transition */
}