.nav-bar {
    position: sticky;
    top: 0;
    bottom: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color:#F2D8AC;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Optionnel : effet au survol des liens */
.nav-bar a {
    color:#4E2D2A;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 50px;
}

.nav-bar a:hover {
    color: #F58D47; /* Couleur au survol */
}




